html, body { 
	margin:0; 
	padding:0; 
	height:100%;
	width:100%;
} 

#container {
	position:relative;
    min-height: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    overflow-x:hidden;
}

#header {
	border: 1px solid #000000;
	margin:0 auto;
	height:50px;
	padding-top:15px;
	padding-left:15px;
}

#content {
    height:100%;
	margin-bottom:35px;
}

.sidebar {
	border-radius: 15px;
	border: 1px solid #000000;
	float:left;
	width:275px;
	margin-left:15px;
	margin-bottom:35px;
	padding:15px 15px 15px 15px;
	max-height:480px;
	overflow:auto;
	}
	
.pane {
	border-radius: 15px;
	border: 1px solid #000000;
	margin-left:335px;
	margin-top:15px;
	margin-bottom:35px;
	margin-right:15px;
	padding:15px 15px 15px 15px;
	}
	
#footer {
	margin:0 auto;
    border: 1px solid #000000;
	height:30px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
