{% load sidebar %}
{% load crispy_forms_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% block title %}Kegbot_BeerDB{% endblock %}</title>

  {% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'jqueryui/bootstrap/jquery-ui-1.10.0.custom.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'selectable/css/dj.selectable.css' %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>
  {% endblock %}
  
</head>

<body>
  <div id="container">
    <div id="header">
        <a class ="btn btn-small btn-primary" href="{% url 'index' %}">HOME</a>
        <a class ="btn btn-small btn-primary" href="{% url 'add-beer-type' %}">Add a Beer</a>
        <a class ="btn btn-small btn-primary" href="{% url 'add-brewer' %}">Add a Brewer</a>
    </div>

    <div id="content">
      <div class="sidebar">
        {% sidebar %}
        <ul>
          <li><a href="{% url 'brewers' %}">Brewers</li>
          <li><a href="{% url 'beer-styles' %}">Beer Styles</li>
          <li><a href="{% url 'beer-types' %}">Beer List</a></li>
          <li><a href="{% url 'tools' %}">Tools</a></li>
        </ul>
      </div>

      <div class="pane">
        {% block pane %}{% endblock %}
      </div>
    </div>

    <div id="footer">
        (C) 2013, Justin Evans.  Initial schema/design by <a href="https://github.com/Kegbot/kegbot">kegbot</a>.  Initial dB contents provided by <a href="http://openbeerdb.com">openbeerdb</a>.
    </div>
  </div>
</body>
</html>
