{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}
<a href="{% url 'add-beer-style' %}">Add</a>
<table>
<thead>
    <tr>
        <th>Name</th>
    </tr>
</thead>
<tbody>
{% for style in styles %}
<tr>
    <td>
            <a href="{% url 'edit-beer-style' style.id %}">Edit</a>
            <span>{{ style.name }}</span>
    </td>
    <td><a href="{% url 'remove-beer-style' style.id %}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if styles.has_previous %}
            <a href="?page={{ styles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ styles.number }} of {{ styles.paginator.num_pages }}.
        </span>

        {% if styles.has_next %}
            <a href="?page={{ styles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}