{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}
<a class ="btn btn-small btn-primary" href="{% url 'add-beer-type' %}">Add</a>
<table class="table table-hover table-bordered">
<thead>
    <tr>
        <th>Name</th>
        <th>Brewer</th>
        <th>Style</th>
    </tr>
</thead>
<tbody>
{% for beer in beers %}
<tr>
    <td>
        <div class="form-horizontal">
            <a class ="btn btn-small btn-primary" href="{% url 'edit-beer-type' beer.id %}">Edit</a>
            <span>{{ beer.name }}</span>
        </div>
    </td>
    <td>{{ beer.brewer }}</td>
    <td>{{ beer.style }}</td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'remove-beer-type' beer.id %}">Delete</a></td>
    
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if beers.has_previous %}
            <a href="?page={{ beers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ beers.number }} of {{ beers.paginator.num_pages }}.
        </span>

        {% if beers.has_next %}
            <a href="?page={{ beers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}