{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}
<a href="{% url 'add-beer-type' %}">Add</a>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Brewer</th>
        <th>Style</th>
    </tr>
</thead>
<tbody>
{% for beer in beers %}
<tr>
    <td>
            <a href="{% url 'edit-beer-type' beer.id %}">Edit</a>
            <span>{{ beer.name }}</span>
    </td>
    <td>{{ beer.brewer }}</td>
    <td>{{ beer.style }}</td>
    <td><a href="{% url 'remove-beer-type' beer.id %}">Delete</a></td>
    
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}