{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pane %}
<h2>Add Brewer</h2>

{% if request.method != 'POST' %} 
	{% if brewer.image %}
		<div class="row-fluid">
			<div class="span10">
				<p><img src="{{brewer.image.small_resized.url}}"/></p>
			</div>
		</div>
	{% endif %}
	{% crispy form %}
{% else %}
	{% if messages %} 
    	{% for message in messages %} 
        	{{ message }} 
    	{% endfor %} 
	{% endif %} 
	{% if brewer.image %}
		<div class="row-fluid">
			<div class="span10">
				<p><img src="{{brewer.image.small_resized.url}}"/></p>
			</div>
		</div>
	{% endif %}
	{% crispy form %}
{% endif %}

{% endblock %}

