{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}
<a href="{% url 'add-brewer' %}">Add</a>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
    </tr>
</thead>
<tbody>
{% for brewer in brewers %}
<tr>
    <td>
            <a href="{% url 'edit-brewer' brewer.id %}">Edit</a>
            <span>{{ brewer.name }}</span>
    </td>
    <td>{{ beer.origin_country }}</td>
    <td>{{ beer.origin_state }}</td>
    <td>{{ beer.origin_city }}</td>
    <td><a href="{% url 'remove-brewer' brewer.id %}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}