{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}
<table class="table table-hover table-bordered">
<thead>
    <tr>
        <th>
            <div class="form-horizontal">
                <a class ="btn btn-small btn-primary" href="{% url 'add-brewer' %}">Add</a>
            <span>Name</span>
        </th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
    </tr>
</thead>
<tbody>
{% for brewer in brewers %}
<tr>
    <td>
        <div class="form-horizontal">
            <a class ="btn btn-small btn-primary" href="{% url 'edit-brewer' brewer.id %}">Edit</a>
            <span>{{ brewer.name }}</span>
        </div>
    </td>
    <td>{{ brewer.country }}</td>
    <td>{{ brewer.origin_state }}</td>
    <td>{{ brewer.origin_city }}</td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'remove-brewer' brewer.id %}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if brewers.has_previous %}
            <a href="?page={{ brewers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ brewers.number }} of {{ brewers.paginator.num_pages }}.
        </span>

        {% if brewers.has_next %}
            <a href="?page={{ brewers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}