{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pane %}


<ul>
{% for beer in beers_edited %}
<li>
	<a href="{% url 'edit-beer-type' beer.id %}">{{beer.name}}</a> by <a href="{% url 'edit-brewer' beer.brewer.id %}">{{beer.brewer.name}}</a> edited on {{beer.edited}}</li>
{% endfor %}
</ul>

<ul>
{% for beer in beers_added %}
<li>
	<a href="{% url 'edit-beer-type' beer.id %}">{{beer.name}}</a> by <a href="{% url 'edit-brewer' beer.brewer.id %}">{{beer.brewer.name}}</a> added on {{beer.edited}}</li>
{% endfor %}
</ul>

<ul>
{% for brewer in brewer_edited %}
<li>
	<a href="{% url 'edit-brewer' brewer.id %}">{{brewer.name}}</a> edited on {{brewer.edited}}</li>
{% endfor %}
</ul>

<ul>
{% for brewer in brewer_added %}
<li>
	<a href="{% url 'edit-brewer' brewer.id %}">{{brewer.name}}</a> added on {{brewer.edited}}</li>
{% endfor %}
</ul>

{% endblock %}
