{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}

<form action="" method="GET">
{{beer_form}}
<input type="submit" value="Go" class="btn btn-small btn-primary" />
</form>

<form action="" method="GET">{% csrf_token %}
{{brewer_form}}
<input type="submit" value="Go" class="btn btn-small btn-primary" />
</form>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

<script type="text/javascript">
$(function(){
  $('[id=id_q]').bind('autocompleteselect', function(event, ui){
    $(this).val(ui.item.value);
    $(this).parents("form").submit();
  });
});
</script>