{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pane %}
<h2>Tools</h2>

<table class="table table-hover table-bordered">
<thead>
    <tr>
        <th>Name</th>
    </tr>
</thead>
<tbody>
<tr>
    <td>
        <div class="form-horizontal">
            <span>Empty Beer Style Table</span>
        </div>
    </td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'wipe-styles' %}">Go</a></td>
    
</tr>
<tr>
    <td>
        <div class="form-horizontal">
            <span>Empty Brewer Table</span>
        </div>
    </td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'wipe-brewers' %}">Go</a></td>
    
</tr>
<tr>
    <td>
        <div class="form-horizontal">
            <span>Empty Beer Type Table</span>
        </div>
    </td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'wipe-beers' %}">Go</a></td>
    
</tr>
<tr>
    <td>
        <div class="form-horizontal">
            <span>Empty Picture Table</span>
        </div>
    </td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'list-images' %}">Go</a></td>
    
</tr>
<tr>
    <td>
        <div class="form-horizontal">
            <span>Import CSV</span>
        </div>
    </td>
    <td><a class ="btn btn-small btn-primary" href="{% url 'import-csv' %}">Go</a></td>
    
</tr>
</tbody>
</table>

{% endblock %}

