{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block pane %}
<h2>Confirm Removal of Following Beer Types:</h2>
{% if request.method != 'POST' %} 
    {% crispy form %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for btype in btypes %}
    <tr>
        <td>
            <div class="form-horizontal">
             <span>{{ btype.name }}</span>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    {% if messages %} 
        {% for message in messages %} 
            {{ message }} 
        {% endfor %} 
    {% endif %} 
{% endif %}

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}